*{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

html{
    height: 100%;
}

body{
    overflow: hidden;
    max-width: 100vw;
}

.smile,
.pencil,
.corner{
    position: absolute;
    width: 250px;
    height: 250px;  
}

.smile{
    left: 100px;
    bottom: 100px;
    animation: big 10s linear infinite alternate-reverse;
}

.pencil{
    transform: rotate(25deg);
    right: -80px;
    top: -60px;
    width: 350px;
    height: 350px;
    animation: slow 10s linear infinite alternate-reverse;
}

.corner{
    top: 0;
    left: 0;
}

@keyframes slow {
    0%{
        transform: rotate(45deg);
    }
    100%{
        transform: rotate(35deg);
    }
    
}

@keyframes big {
    0%{
        transform: scale(1.16);
    }
    100%{
        transform: scale(1);
    }
}

@media only screen and (max-width:720px){
    .pencil{
        width: 150px;
        height: 150px;
        right: -30px;
        top: -30px;
        z-index: -1 ;
    }

    .corner{
        width: 100px;
        height: 100px;
        z-index: -2;
    }

    .smile{
        width: 150px;
        height: 150px;
        left: 50%;
    }
}
